<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/dashboard.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/akar-icons-fonts"></script>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <header>
                <img src="../assets/logo.png" alt="Logo" />
            </header>
            <ul>
                <li>
                    <input type="radio" id="dashboard" name="sidebar" />
                    <label for="dashboard">
                        <i class="ai-dashboard"></i>
                        <p>Dashboard</p>
                    </label>
                </li>
                <li>
                    <input type="radio" id="mapas" name="sidebar" />
                    <label for="mapas">
                        <i class='bx bx-map-alt'></i>
                        <p>Mapas</p>
                        <i class="ai-chevron-down-small"></i>
                    </label>
                    <div class="sub-menu">
                        <ul>
                            <li><button type="button">São Paulo</button></li>
                            <li><button type="button">Capital</button></li>
                            <li><button type="button">Litoral</button></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <input type="radio" id="forum" name="sidebar" />
                    <label for="forum">
                        <i class='bx bx-message-dots'></i>
                        <p>Forum</p>
                        <i class="ai-chevron-down-small"></i>
                    </label>
                    <div class="sub-menu">
                        <ul>
                            <li><button type="button">Relatos</button></li>
                            <li><button type="button">Avaliações</button></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <input type="radio" id="perfil" name="sidebar" />
                    <label for="perfil">
                        <i class="ai-person"></i>
                        <p>Perfil</p>
                        <i class="ai-chevron-down-small"></i>
                    </label>
                    <div class="sub-menu">
                        <ul>
                            <li><button type="button">Avatar</button></li>
                            <li><button type="button">Temas</button></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <input type="radio" id="notificacoes" name="sidebar" />
                    <label for="notificacoes">
                        <i class="ai-bell"></i>
                        <p>Notificações</p>
                    </label>
                </li>
                <li>
                    <input type="radio" id="conta" name="sidebar" />
                    <label for="conta">
                        <i class="ai-lock-on"></i>
                        <p>Conta</p>
                    </label>
                </li>
            </ul>
        </aside>

        <div class="parent">
            <div class="div1">Div 1</div>
            <div class="div2">Div 2</div>
            <div class="div3">Div 3</div>
            <div class="div4">Div 4</div>
            <div class="div5">Div 5</div>
            <div class="div6">Div 6</div>
        </div>
    </div>
</body>
</html>
