<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/stylecadastro.css">
    <title>Login</title>
</head>

<body>
    <div class="corpo">

        <div class="corpo-login">
            <div class="titulo"><span>Cadastro</span></div>

            <div class="corpo-inputs">
                <span class="titulo-input">Nome</span>
                <input type="text" class="nome">

                <span class="titulo-input">Email</span>
                <input type="email" class="email">

                <span class="titulo-input">Senha</span>
                <input type="password" class="senha">

                <span class="titulo-input">Confirme sua senha</span>
                <input type="password" class="senha">

                <button class="botao-cadastrar">Cadastrar</button>

                <span class="span-cadastrar">Já possui uma conta?<a href="login.html"
                        class="link-cadastrar">Entrar</a></span>

            </div>

        </div>


    </div>

</body>

</html>